
.period-container {
    padding: 5px;
}

.period-title {
    border: 1px solid #f5f5f5;
    padding: 10px;
    background: #F5F5F5;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
}

.register-info {
    width: 100%;
    background: #F8D7DA;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 0;
}
.register-info {
    padding-left: 10px;
    font-size: 11px;
    font-weight: 600;
    color: #721C24;
}

.register-p {
    font-size: 10px;
    color: #3A3A3A;
}

.register-card {
    width: 100%;
}